<h2 mat-dialog-title>New Timer</h2>
<mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="time" placeholder="Time">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()" mat-dialog-close>Confirm</button>
</mat-dialog-actions>